.ImageManager {
    background-color: white;
    margin: 20px auto;
    width: 800px;
    padding: 20px 40px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px blue;
    display: flex;
    flex-direction: column;
}