.ImageGallery {
    display: block;
    width: 90%;
    margin: 10px auto;
    border: 2px solid lightskyblue;
    border-radius: 3px;
    padding: 20px;

    /* make it scrollable */
    overflow-y: scroll;
    height: 70vh;
}
